@import "../../style.scss";

.answers {
   @include themify($themes) {
      padding: 20px 0;
      border-top: 1px solid themed("border");
      border-bottom: 1px solid themed("border");
   }

   .answer:last-child {
      padding-bottom: 0;
   }
}

.yourAnswer {
   @include themify($themes) {
      h2 {
         padding: 40px 0;

         @include mobileVersion {
            font-size: 22px;
         }
      }

      form {
         @include flexStyle($direction: column, $gap: 30px);

         .submit {
            width: fit-content;
            margin-left: auto;
            box-shadow: themed("shadow");
            @include makeButton($padding: 10px 20px, $rounded: 8px, $bg: themed("primary"));
            @include typoGraphy($fontSize: 14px, $weight: 600, $color: #fff);

            &:hover {
               background-color: darken(themed("primary"), 10%);
            }

            @include mobileVersion {
               font-size: 13px;
               padding: 8px 16px;
            }
         }
      }
   }
}