@import "../../style.scss";

.notification {
   @include themify($themes) {
      @include pages(30px);
      width: 907.15px;
      margin: 0 auto;

      @include tabletVersion {
         padding: 30px;
         width: 80%;
      }

      @include mobileVersion {
         padding: 20px;
         width: 100%;
      }

      .notifWrapper {
         .pagesTitle {
            gap: 10px;

            h1 {
               margin: 30px 0 20px 0;
               text-align: center;
            }
         }

         .loading {
            background-color: darken(themed("bg"), 3%) !important;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
         }

         button.allRead {
            @include makeButton($padding: 0, $rounded: 8px, $bg: darken(themed("bg"), 5%));
            width: 159px;
            height: 42px;
            display: block;
            margin: 0 0 15px auto;

            &:hover {
               background-color: darken(themed("bg"), 10%);
            }

            @include mobileVersion {
               margin-top: 10px;
               font-size: 12px;
               width: 150px;
               height: 40px;
            }
         }

         .notifContent {
            @include flexStyle($direction: column, $gap: 10px);

            .notifCard {
               @include flexStyle($direction: column, $gap: 5px);
               @include makeButton($padding: 16px, $rounded: 8px, $bg: rgba(themed("primary"), .2));
               transition: 0.2s;

               &.read {
                  background-color: rgba(themed("primary"), .06);
               }

               &:hover {
                  background-color: rgba(themed("primary"), .5);
               }

               .notifUserInfo {
                  @include flexStyle($gap: 15px, $align: center);

                  @include mobileVersion {
                     align-items: flex-start;
                  }

                  img {
                     @include profilePicture(45px, $rounded: 8px);

                     @include mobileVersion {
                        @include profilePicture(40px, $rounded: 8px);
                     }
                  }

                  .notifDetails {
                     @include flexStyle($direction: column);
                     @include typoGraphy($weight: 600, $color: themed("font"));

                     @include mobileVersion {
                        font-size: 15px;
                     }

                     .notifDesc {
                        @include typoGraphy($fontSize: 15px, $weight: normal);

                        @include mobileVersion {
                           font-size: 14px;
                        }
                     }

                     .notifDate {
                        @include typoGraphy($fontSize: 14px, $weight: bold, $color: themed("secondary"));

                        @include mobileVersion {
                           font-size: 13px;
                           margin: 5px 0 0 auto;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}