@import "../../style.scss";

.tagContent {
   @include themify($themes) {
      margin-bottom: 3.1%;
      cursor: pointer;

      @include mobileVersion {
         margin-bottom: 20px;
      }

      &:hover {
         .tagWrapper {
            border: 2px solid themed("primary");
         }
      }

      .tagWrapper {
         @include flexStyle($direction: column, $gap: 10px);
         @include makeButton($padding: 16px, $bg: themed("contentBg"), $rounded: 8px);
         width: 268px;
         transition: 0.3s;
         border: 2px solid themed("contentBorder");

         @include tabletVersion {
            width: 286.4px;
         }

         @include mobileVersion {
            width: 100%;
         }

         span {
            @include truncate(4);
            @include typoGraphy($color: themed("font"), $fontSize: 14px);

            @include mobileVersion {
               font-size: 13px;
            }
         }

         button {
            width: fit-content;
            @include makeButton($padding: 4px 8px, $rounded: 6px, $color: #272d3e, $bg: lighten(themed("primary"), 55%));
            @include typoGraphy($weight: 500, $fontSize: 12px);

            &:hover {
               background-color: lighten(themed("primary"), 50%);
            }

            @include mobileVersion {
               padding: 3px 6px;
               font-size: 11px;
            }
         }
      }
   }
}