@import "../../style.scss";

.posts {
   @include themify($themes) {
      @include flexStyle($direction: column);

      .wrapper {
         .tabs {
            display: flex;
            margin-top: 50px;
            margin-bottom: 20px;
            border-bottom: 2px solid themed("border");

            @include mobileVersion {
               margin-top: 40px;
               margin-bottom: 0;
            }

            button {
               @include makeButton($padding: 10px 30px, $rounded: 6px 6px 0 0);
               font-size: 16px;
               background-color: transparent;
               border-bottom: 5px solid transparent;
               color: themed("font");

               @include mobileVersion {
                  font-size: 14px;
                  padding: 8px 28px;
               }
            }

            button.active {
               font-weight: bold;
               background-color: themed("activeBg");
               border-bottom: 5px solid themed("primary");
            }
         }

         .postWrapper {
            display: flex;
            flex-direction: column;
         }
      }
   }
}