@import "../../style.scss";

.mainLayout {
   flex: 6;

   @include tabletVersion {
      flex: 4.5;
   }
}

.otherMain {
   @include themify($themes) {
      flex: 1;
      background-color: themed("bg");
   }
}