@import "../../style.scss";

.comments {
   @include themify($themes) {
      border-top: 1px solid themed("border");

      h4 {
         padding: 20px 0;
      }

      .commentForm {
         @include flexStyle($direction: column, $gap: 10px);
         padding-top: 20px;

         textarea {
            @include input($bg: darken(themed("bg"), 5%), $padding: 10px 12px, $rounded: 4px);
            @include typoGraphy($color: themed("font"), $weight: 500);
            // min-height: 100px;
         }

         button {
            width: fit-content;
            margin-left: auto;
            @include makeButton($bg: themed("primary"), $color: #fff, $padding: 4px 10px, $rounded: 4px);
         }
      }

      .comment {
         border: 1px solid themed("border");
         border-radius: 6px;
         padding: 12px;

         .commentDesc {
            @include typoGraphy($lineHeight: 22px, $fontSize: 14px, $weight: 500);
         }

         .commentUserInfo {
            @include flexStyle($gap: 10px, $align: center);
            padding-bottom: 12px;

            img {
               @include profilePicture();

               @include mobileVersion {
                  @include profilePicture(40px);
               }
            }

            .infos {
               @include flexStyle($gap: 10px);

               @include mobileVersion {
                  @include flexStyle($direction: column);
               }

               span:first-child {
                  @include typoGraphy($fontSize: 15px, $weight: 600);
                  @include truncate(1);
               }

               span:last-child {
                  @include typoGraphy($fontSize: 13px, $color: rgb(172, 172, 172), $weight: 600);
               }
            }
         }
      }
   }
}