@import "../../style.scss";

.rightbar {
  @include themify($themes) {
    @include position($position: sticky, $top: 80px);
    height: calc(100vh - 80px);
    flex: 2;
    padding: 30px 124px 30px 20px;
    background: themed("bg");
    color: themed("font");
    overflow: scroll;

    @include tabletVersion {
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .rightContainer {
      margin-bottom: 20px;
      padding: 20px;
      background: themed("contentBg");
      border-radius: 10px;
      filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.08))
        drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.08));

      .rightTop {
        padding-bottom: 20px;
        border-bottom: 1px solid themed("border");
        @include flexStyle($align: center, $gap: 10px);
        @include typoGraphy($weight: bold, $color: themed("primary"));
      }

      .rightBottom {
        padding-top: 20px;
        line-height: 26px;

        ul {
          padding: 10px 0;
          @include flexStyle($gap: 6px, $direction: column);

          li {
            @include typoGraphy($fontSize: 14px, $lineHeight: 24px);
            list-style: none;
            @include flexStyle($align: center, $gap: 6px);
          }
        }

        .rightItem {
          @include flexStyle($align: center, $justify: space-between);
          margin-bottom: 20px;

          .icons {
            color: #fcb900;
          }

          &:first-child {
            .icons {
              color: themed("primary");
            }
          }

          &:last-child {
            margin-bottom: 0;

            .icons {
              color: #a41312;
            }
          }

          .rigthUserInfo {
            @include flexStyle($align: center, $gap: 15px);
            font-weight: 500;
            cursor: pointer;

            img {
              @include profilePicture(30px);
            }

            span {
              @include truncate(1);
            }
          }
        }
      }
    }
  }
}
