@import "../../style.scss";

.rightbar {
   @include themify($themes) {
      position: sticky;
      top: 80px;
      height: calc(100vh - 80px);
      overflow: scroll;
      flex: 2;
      padding: 30px 124px 30px 20px;
      background: themed("bg");
      color: themed("font");

      @include tabletVersion {
         display: none;
      }

      &::-webkit-scrollbar {
         display: none;
      }

      .container {
         margin-bottom: 20px;
         padding: unset;
         padding: 20px;
         background: themed("contentBg");
         border-radius: 10px;
         filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.08)) drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.08));

         .top {
            display: flex;
            align-items: center;
            gap: 10px;
            padding-bottom: 20px;
            border-bottom: 1px solid themed("border");
            font-weight: bold;
            color: themed("primary");
         }

         .bottom {
            padding-top: 20px;
            line-height: 26px;

            ul {
               padding: 10px 20px;

               li {
                  font-size: 14px;
                  line-height: 24px;
               }
            }

            .item {
               display: flex;
               justify-content: space-between;
               align-items: center;
               margin-bottom: 20px;

               .icons {
                  color: #fcb900;
               }

               &:first-child {
                  .icons {
                     color: themed("primary");
                  }
               }

               &:last-child {
                  margin-bottom: 0;

                  .icons {
                     color: #a41312;
                  }
               }

               .userInfo {
                  display: flex;
                  align-items: center;
                  gap: 15px;
                  font-weight: 500;

                  img {
                     @include profilePicture(30px);
                  }
               }
            }
         }
      }
   }
}