@import "../../style.scss";

.answer {
   @include themify($themes) {
      @include flexStyle($gap: 24px, $direction: column);
      padding: 20px 0;
      border-bottom: 1px solid themed("border");

      &:last-child {
         border-bottom: 0;
      }

      .reactions,
      .descBottom {
         margin-left: 10px;
         align-self: flex-start;

         .bestAnswer {
            @include makeButton($bg: rgba(#00D26A, .15), $padding: 4px 8px, $rounded: 30px);
            @include typoGraphy($fontSize: 12px, $weight: 600, $color: #00D26A);
            @include flexStyle($gap: 8px, $align: center);
            cursor: auto;
         }

         @include mobileVersion {
            display: none;
         }
      }

      .descBottom {
         display: none;

         .icons {
            width: 20px;
         }

         @include mobileVersion {
            display: block;
            margin: 0;

            span {
               @include flexStyle($align: center, $gap: 4px);
            }
         }
      }

      .userAnswer {
         @include flexStyle($gap: 10px, $align: center);

         img {
            @include profilePicture(45px);

            @include mobileVersion {
               @include profilePicture(40px);
            }
         }

         .infos {
            @include flexStyle($direction: column);

            span:first-child {
               font-weight: 600;
               cursor: pointer;
               @include truncate(1);

               @include mobileVersion {
                  font-size: 15px;
               }
            }

            time {
               @include typoGraphy($fontSize: 13px, $color: rgb(172, 172, 172), $weight: 600);

               @include mobileVersion {
                  font-size: 12px;
               }
            }
         }
      }

      .descAnswer {
         @include typoGraphy($lineHeight: 100px, $fontSize: 15px, $weight: 500);
      }

      .answerActions {
         @include flexStyle($gap: 20px, $align: center);

         .itemAction {
            @include flexStyle($gap: 10px, $align: center, $justify: center);
            font-size: 14px;
            font-weight: 600;
            width: 74px;
            height: 36px;
            border-radius: 30px;
            cursor: pointer;
            border: 1px solid themed("font");

            p {
               font-size: 18px;
            }

            &.up {
               border-color: #10d070;
               color: #10d070;
            }

            &.down {
               border-color: #F92F60;
               color: #F92F60;
            }

            &:first-child:hover {
               border-color: #10d070;
               color: #10d070;
            }

            &:nth-child(2):hover {
               border-color: #F92F60;
               color: #F92F60;
            }

            @include mobileVersion {
               font-size: 13px;
            }

            .icons {
               width: 20px;

               @include mobileVersion {
                  width: 19px;
               }
            }
         }
      }
   }
}