@import "../../style.scss";

.taggedPages {
   @include themify($themes) {
      @include pages(30px 20px 30px 30px);

      @include tabletVersion {
         padding: 30px 20px 20px 20px;
      }

      @include mobileVersion {
         padding: 30px 20px 60px 20px;
      }

      .taggedContainer {
         .pagesTitle {
            h1 {
               span {
                  text-transform: lowercase;
                  color: themed("primary");
               }
            }

            span {
               line-height: 25px;
               margin-top: 8px;
            }
         }

         .taggedPosts {
            border-top: 2px solid themed("border");
            margin-top: 30px;

            .nonePost {
               margin-top: 20px;
               font-weight: 500;
            }
         }
      }
   }
}