@import "../../style.scss";

.leftbar {
   @include themify($themes) {
      background: themed("bg");
      padding-left: 124px;
      flex: 1.2;
      position: sticky;
      top: 80px;
      height: calc(100vh - 80px);
      overflow: scroll;
      border-right: 1px solid themed("border");

      @include tabletVersion {
         padding-left: 20px;
      }

      @include mobileVersion {
         display: none;
      }

      &::-webkit-scrollbar {
         display: none;
      }

      .container {
         padding-top: 30px;
         display: flex;
         flex-direction: column;
         width: 100%;

         a {
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
            color: themed("font");
         }

         p {
            text-transform: uppercase;
            font-weight: 600;
            color: rgb(117, 117, 117);
            margin-top: 30px;
         }

         .public {
            margin-top: 10px;
            display: flex;
            flex-direction: column;

            .item {
               display: flex;
               cursor: pointer;
               justify-content: space-between;
               color: rgb(117, 117, 117);
               font-weight: 500;

               span {
                  font-size: 15px;
               }

               .link {
                  padding: 10px 12px 12px 12px;
                  display: flex;
                  align-items: center;
                  gap: 10px;
               }

               .bar {
                  width: 5px;
                  background-color: themed("bg");
               }

               .icons {
                  width: 24px;
               }
            }

            .item.active {
               background-color: themed("activeBg");
               color: themed("font");
               font-weight: bold;

               .bar {
                  background-color: themed("primary");
               }
            }
         }
      }
   }
}