@import "../../style.scss";

.leftbar {
   @include themify($themes) {
      @include position($position: sticky, $top: 80px);
      height: calc(100vh - 80px);
      background: themed("bg");
      flex: 1.2;
      padding-left: 124px;
      overflow: scroll;
      border-right: 1px solid themed("border");

      @include tabletVersion {
         padding-left: 20px;
      }

      @include mobileVersion {
         display: none;
      }

      &::-webkit-scrollbar {
         display: none;
      }

      .leftContainer {
         @include flexStyle($direction: column);
         padding-top: 30px;
         width: 100%;

         a {
            @include typoGraphy($weight: bold, $fontSize: 18px, $color: themed("font"));
            text-decoration: none;
         }

         p {
            text-transform: uppercase;
            margin-top: 30px;
            @include typoGraphy($weight: 600, $color: rgb(117, 117, 117));
         }

         .public {
            margin-top: 10px;
            @include flexStyle($direction: column);

            .leftItem {
               cursor: pointer;
               @include flexStyle($justify: space-between);
               @include typoGraphy($weight: 500, $color: rgb(117, 117, 117));

               span {
                  font-size: 15px;
               }

               .link {
                  padding: 10px 12px 12px 12px;
                  @include flexStyle($align: center, $gap: 10px);
               }

               .bar {
                  width: 5px;
                  background-color: themed("bg");
               }

               .icons {
                  width: 24px;
               }

               &.active {
                  background-color: themed("activeBg");
                  @include typoGraphy($weight: bold, $color: themed("font"));

                  .bar {
                     background-color: themed("primary");
                  }
               }
            }
         }
      }
   }
}