@import "../../style.scss";

.post {
   @include themify($themes) {
      margin-bottom: 10px;

      @include mobileVersion {
         margin-bottom: 0;
      }

      &:last-child {
         .container {
            border-bottom-color: transparent;
         }
      }

      .postContainer {
         @include flexStyle($gap: 24px);
         max-width: 867px;
         padding: 20px;
         cursor: pointer;
         transition: 0.3s;
         color: themed("font");
         background: themed("bg");
         border: 2px solid transparent;
         border-bottom: 2px solid themed("contentBorder");

         @include tabletVersion {
            @include flexStyle($direction: column, $gap: 14px);
         }

         @include mobileVersion {
            padding: 16px;
         }

         &:hover {
            border-radius: 10px;
            border: 2px solid themed("primary");
         }

         .info {
            display: flex;
            width: 17%;
            margin-top: 5px;
            font-size: 15px;

            @include tabletVersion {
               margin-top: 0;
            }

            .postWrapper {
               @include flexStyle($direction: column, $gap: 15px);
               margin-left: auto;

               @include tabletVersion {
                  flex-direction: row;
               }

               p {
                  @include flexStyle($gap: 8px);
                  margin-left: auto;

                  span {
                     font-weight: bold;
                  }

                  @include mobileVersion {
                     font-size: 14px;
                  }
               }
            }
         }

         .postContent {
            width: 100%;
            margin: 0;

            .postTop {
               @include flexStyle($direction: column, $gap: 10px);

               h2 {
                  font-size: 20px;
                  line-height: 26px;
                  @include truncate(2);

                  @include mobileVersion {
                     font-size: 18px;
                  }
               }

               .postDesc {
                  font-size: 15px !important;
                  @include truncate(2);
                  max-height: 44px;

                  pre,
                  code {
                     white-space: pre-wrap;
                     overflow-wrap: break-word;
                  }

                  @include mobileVersion {
                     font-size: 13px;
                  }
               }
            }

            .postBottom {
               @include flexStyle($direction: column);

               @include mobileVersion {
                  gap: 14px;
               }

               .postTags {
                  @include flexStyle($gap: 8px);
                  margin-top: 15px;
                  flex-wrap: wrap;

                  button {
                     @include makeButton($padding: 6px 8px, $rounded: 3px, $bg: lighten(themed("primary"), 55%), $color: #272d3e);

                     &:hover {
                        background-color: lighten(themed("primary"), 50%);
                     }

                     @include mobileVersion {
                        font-size: 12px;
                        padding: 2px 4px;
                     }
                  }
               }

               .postUserInfo {
                  @include flexStyle($align: center, $gap: 10px);
                  margin-left: auto;
                  font-size: 14px;

                  img {
                     @include profilePicture(18px);

                     @include mobileVersion {
                        @include profilePicture(16px);
                     }
                  }

                  @include mobileVersion {
                     font-size: 12px;
                  }
               }
            }
         }
      }
   }
}