@import "../../style.scss";

.createWarningCard {
   @include themify($themes) {
      @include flexStyle();
      @include makeButton($rounded: 8px, $bg: #FFEDB5, $padding: 0, );
      @include typoGraphy($weight: 500, $color: #5d5745);
      border: 2px solid #d2b971;
      margin-bottom: 30px;

      @include mobileVersion {
         flex-direction: column;
         margin-top: 20px;
      }

      .leftWarning {
         @include flexStyle();
         width: 200px;
         border-right: 2px solid #d2b971;

         @include mobileVersion {
            width: 100%;
            border-right: 0;
            border-bottom: 2px solid #d2b971;
         }

         .icons {
            margin: auto;
            width: 46px;

            @include tabletVersion {
               width: 40px;
               padding: 10px 0;
            }
         }
      }

      .rightWarning {
         line-height: 26px;
         padding: 10px;
         @include flexStyle($gap: 10px, $direction: column);

         span:last-child>b {
            cursor: pointer;

            &:hover {
               text-decoration: underline;
            }
         }

         @include tabletVersion {
            font-size: 14px;
            line-height: 24px;
            gap: 6px;
         }
      }

      @keyframes shake {
         0% {
            transform: rotate(0deg);
         }

         25% {
            transform: rotate(2deg);
         }

         50% {
            transform: rotate(0eg);
         }

         75% {
            transform: rotate(-2deg);
         }

         100% {
            transform: rotate(0deg);
         }
      }

      .warningFix {
         @include flexStyle($align: center, $gap: 15px);
         @include position($position: fixed, $bottom: 25px, $right: 25px, $z: 999);
         @include typoGraphy($color: #272d3e, $weight: 600);
         @include makeButton($padding: 10px 20px, $bg: #FFEDB5, $rounded: 8px);
         animation: shake 0.5s;
         animation-iteration-count: infinite;

         &:hover {
            background-color: darken(#FFEDB5, 15%);
         }
      }
   }
}