@import "../../style.scss";

.more {
   @include themify($themes) {
      margin-left: auto;
      position: relative;

      .iconWrapper {
         @include flexStyle($align: center, $justify: center);
         width: 30px;
         height: 30px;
         border-radius: 50%;

         &:hover {
            background-color: darken(themed("bg"), 15%);
         }
      }

      ul {
         list-style: none;
         border-radius: 8px;
         overflow: hidden;
         transition: 0.2s;
         transform: scale(0);
         transform-origin: top right;
         background-color: themed("contentBg");
         @include flexStyle($direction: column);
         @include position($position: absolute, $right: 0);
         filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.08)) drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.08));

         &.active {
            transform: scale(1);
         }

         li {
            @include flexStyle($align: center, $gap: 10px);
            @include typoGraphy($weight: 600, $fontSize: 13px);
            width: 100%;
            padding: 12px;
            cursor: pointer;

            span {
               width: max-content;
            }

            .icons {
               width: 21px;
            }

            &:hover {
               background-color: darken(themed("contentBg"), 15%);
            }

            &:last-child {
               border-radius: 0px 0px 8px 8px;
            }

            &:first-child {
               border-radius: 8px 8px 0px 0px;
            }

            &.danger {
               color: #EB5757 !important;
            }

            &.warning {
               color: #FCB900 !important;
            }
         }
      }
   }
}

.modalWrapper {
   @include themify($themes) {
      padding: 10px;

      @include mobileVersion {
         padding: 0;
      }

      .textWrapper {
         width: 520px;

         p {
            @include typoGraphy($fontSize: 15px, $weight: 500, $color: themed("font"));

            &:first-child {
               margin-bottom: 20px;
            }

            @include mobileVersion {
               font-size: 14px;
            }
         }

         @include mobileVersion {
            min-width: unset;
            width: 100%;
         }
      }

      label {
         span {
            font-weight: bold;

            @include mobileVersion {
               font-size: 14px;
            }
         }

         textarea {
            @include mobileVersion {
               min-height: 130px;
            }
         }
      }
   }
}