@import "../../style.scss";

$primary: #00bac7;
$font: #272d3e;

.not-found {
   @include flexStyle($align: center, $justify: center);
   min-height: 100vh;
   position: relative;

   .logo-not-found {
      position: absolute;
      top: 30px;
      left: 60px;
      z-index: 1;
      @include typoGraphy($fontSize: 28px, $weight: 600);

      p {
         display: flex;
         color: $font;

         span {
            color: $primary;
         }

         .logo {
            padding-top: 4px;
         }
      }

      @include mobileVersion {
         display: none;
      }
   }

   .container-not-found {
      @include flexStyle($align: center, $justify: center, $direction: column, $gap: 80px);
      min-height: 100vh;

      @include mobileVersion {
         padding: 0 20px;
      }

      .top-not-found {
         text-align: center;
         color: $font;

         h1 {
            font-size: 56px;
            font-weight: bold;
            line-height: 72px;

            @include mobileVersion {
               font-size: 36px;
               line-height: 48px;
            }
         }

         p {
            font-weight: 500;
            font-size: 20px;
            line-height: 32px;

            @include mobileVersion {
               font-size: 16px;
               line-height: 24px;
            }
         }
      }

      .content-not-found {
         width: 500px;

         img {
            width: 100%;
         }

         @include mobileVersion {
            width: 90%;
         }
      }

      a {
         @include flexStyle($align: center, $gap: 20px);
         padding-bottom: 10px;
         border-bottom: 2px solid $font;
         background-color: transparent;
         text-decoration: none;
         font-size: 18px;
         color: $font;
         cursor: pointer;

         .icons {
            width: 20px;
         }

         &:hover {
            border-color: $primary;
            color: $primary;
         }

         @include mobileVersion {
            font-size: 16px;

            .icons {
               width: 18px;
            }
         }
      }
   }
}