@import "../../style.scss";

.modals {
   @include themify($themes) {
      @include position($position: fixed, $top: 0, $bottom: 0, $left: 0, $right: 0, $z: 999);
      @include flexStyle($justify: center, $align: center);
      transform: scale(0);
      color: themed("font");
      background-color: transparent;
      transition: transform 0.1s, background-color 0.1s 0.3s;

      &.show {
         transform: scale(1);
         background-color: rgba(darken(themed("bg"), 10%), .7);
      }

      @include mobileVersion {
         padding: 20px;
      }

      .container {
         background-color: themed("bg");
         border-radius: 8px;
         min-width: 420px;
         transform: scale(0);
         transition: transform 0.3s 0.5s;

         @include mobileVersion {
            min-width: unset;
            width: 100%;
         }

         &.show {
            transform: scale(1);
         }

         .top {
            padding: 16px;
            border-bottom: 1px solid themed("border");
            @include flexStyle($align: center, $gap: 20px);

            @include mobileVersion {
               padding: 13px;
               gap: 15px;
            }

            span {
               @include typoGraphy($weight: bold, $fontSize: 20px);

               @include mobileVersion {
                  font-size: 18px;
               }
            }

            .icons {
               width: 32px;
               padding: 5px;
               border-radius: 50%;
               background-color: rgba(darken(themed("bg"), 10%), .7);

               @include mobileVersion {
                  width: 27px;
               }
            }

            button {
               @include makeButton($padding: 4px 16px, $rounded: 30px, $bg: themed("primary"));
               @include typoGraphy($fontSize: 12px, $color: #fff);
               margin-left: auto;

               &:hover {
                  background-color: darken(themed("primary"), 10%);
               }

               @include mobileVersion {
                  padding: 2px 12px;
                  font-size: 11px;
               }
            }
         }

         .bottom {
            padding: 16px;
            margin: 0;

            .modalWrapper {
               @include flexStyle($direction: column, $gap: 30px);

               label {
                  @include flexStyle($direction: column, $gap: 10px);
                  font-weight: 600;

                  input,
                  textarea {
                     @include typoGraphy($fontSize: 15px, $weight: 500, $color: themed("font"));
                     @include input($padding: 18px, $rounded: 8px, $bg: themed("searchBg"), $border: 2px solid lighten(themed("searchBg"), 15%));

                     @include tabletVersion {
                        font-size: 14px;
                        padding: 17px;
                     }

                     @include mobileVersion {
                        font-size: 13px;
                        padding: 16px;
                     }
                  }

                  textarea {
                     min-height: 300px;

                     @include mobileVersion {
                        min-height: 200px;
                     }
                  }
               }
            }
         }
      }
   }
}