/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', 'Quicksand', sans-serif;
}

@layer base {
  .truncate-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .truncate-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .scroll-custom::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  .scroll-custom::-webkit-scrollbar-track {
    @apply bg-black/5 dark:bg-white/5;
    /* box-shadow: inset 0 0 5px; */
    /* border-radius: 10px; */
  }

  /* Handle */
  .scroll-custom::-webkit-scrollbar-thumb {
    @apply rounded-2xl bg-black/10 dark:bg-white/10;
  }

  /* Handle on hover */
  .scroll-custom::-webkit-scrollbar-thumb:hover {
    @apply bg-black/20 dark:bg-white/20;
  }
}
