@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap");

$theme-map: null;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.3px;
  line-height: 22px;
}

h2 {
  line-height: 36px !important;
}

code,
code > * {
  font-family: "Fira Code", monospace !important;
  font-size: 14px;
  font-weight: normal;
}

pre,
code {
  white-space: pre-wrap !important;
  overflow-wrap: break-word !important;
}

html {
  scroll-behavior: smooth;
}

.icons {
  width: 24px;
  cursor: pointer;
}

table.mceLayout,
textarea.tinyMCE {
  width: 100% !important;
}

.loading {
  background-color: rgba($color: #00bac7, $alpha: 60%) !important;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

$themes: (
  light: (
    "primary": #00bac7,
    "font": #272d3e,
    "bg": #fff,
    "border": rgb(225, 225, 225),
    "searchBg": #ededed,
    "activeBg": lighten(#00bac7, 50%),
    "contentBg": #fff,
    "contentBorder": rgb(230, 230, 230),
    "secondary": rgb(117, 117, 117),
    "bgEditor": #fff,
    "shadow": 0px 10px 20px rgba(0, 186, 199, 0.25),
  ),
  dark: (
    "primary": #00bac7,
    "font": #ddd,
    "bg": #272d3e,
    "border": lighten(#272d3e, 15%),
    "searchBg": #1a1e2b,
    "activeBg": darken(#272d3e, 5%),
    "contentBg": darken(#272d3e, 5%),
    "contentBorder": lighten(#272d3e, 15%),
    "secondary": rgb(189, 188, 188),
    "bgEditor": #eee,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;

      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin profilePicture($size: 30px, $rounded: 50%) {
  width: $size;
  height: $size;
  border-radius: $rounded;
  object-fit: cover;
  cursor: pointer;
}

@mixin makeButton($padding: 10px, $rounded: unset, $bg: unset, $color: unset) {
  padding: $padding;
  cursor: pointer;
  font-weight: 600;
  border: none;
  border-radius: $rounded;
  background-color: $bg;
  color: $color;
}

@mixin flexStyle(
  $justify: unset,
  $align: unset,
  $direction: unset,
  $gap: 0,
  $flex: unset
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
  flex: $flex;
}

@mixin truncate($line: 1) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin input($bg: unset, $border: none, $padding: 0, $rounded: unset) {
  border: $border;
  background-color: $bg;
  padding: $padding;
  border-radius: $rounded;
}

@mixin pages($padding: 0) {
  min-height: calc(100vh - 80px);
  background: themed("bg");
  color: themed("font");
  padding: $padding;
}

@mixin typoGraphy(
  $fontSize: normal,
  $color: unset,
  $weight: normal,
  $lineHeight: unset,
  $align: unset
) {
  font-size: $fontSize;
  color: $color;
  font-weight: $weight;
  line-height: $lineHeight;
  text-align: $align;
}

@mixin position(
  $position: unset,
  $top: unset,
  $right: unset,
  $left: unset,
  $bottom: unset,
  $z: unset
) {
  position: $position;
  top: $top;
  bottom: $bottom;
  right: $right;
  left: $left;
  z-index: $z;
}

@mixin mobileVersion {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin tabletVersion {
  @media (max-width: 960px) {
    @content;
  }
}

.pagesTitle {
  @include themify($themes) {
    @include flexStyle($direction: column);
    color: themed("font");

    @include mobileVersion {
      font-size: 12px;
    }

    h1 {
      margin-bottom: 20px;
      font-size: 36px;
      text-transform: capitalize;

      @include mobileVersion {
        font-size: 28px;
        margin-bottom: 10px;
      }
    }
  }
}
