@import "../../style.scss";

.create {
   @include themify($themes) {
      @include pages(30px);
      width: 907.15px;
      margin: 30px auto;

      @include tabletVersion {
         padding: 30px;
         width: 80%;
      }

      @include mobileVersion {
         padding: 20px;
         width: 100%;
      }

      .createContainer {
         h1 {
            @include typoGraphy($align: center, $fontSize: 36px, $weight: bold);
            margin-bottom: 20px;

            @include tabletVersion {
               font-size: 32px;
            }

            @include mobileVersion {
               font-size: 28px;
               margin-bottom: 10px;
            }
         }

         form {
            margin: 50px 0;
            @include flexStyle($direction: column, $gap: 30px);

            @include tabletVersion {
               margin: 46px 0;
               gap: 28px;
            }

            @include mobileVersion {
               margin: 36px 0;
            }

            .createInput {
               @include flexStyle($direction: column, $gap: 14px);

               @include tabletVersion {
                  gap: 13px;
               }

               @include mobileVersion {
                  gap: 12px;
               }

               span {
                  @include typoGraphy($weight: 600, $fontSize: 18px);

                  @include tabletVersion {
                     font-size: 17px;
                  }

                  @include mobileVersion {
                     font-size: 16px;
                  }
               }

               input {
                  @include typoGraphy($fontSize: 14px, $weight: 500, $color: themed("font"));
                  @include input($padding: 16px, $rounded: 8px, $bg: darken(themed("bg"), 5%));

                  @include tabletVersion {
                     font-size: 14px;
                     padding: 16px;
                  }

                  @include mobileVersion {
                     font-size: 12px;
                     padding: 14px;
                  }
               }

               .createTags {
                  @include flexStyle($justify: space-between, $align: center);

                  button {
                     @include flexStyle($align: center, $gap: 10px);
                     box-shadow: none;
                     padding: 4px 8px;

                     .icons {
                        width: 18px;
                     }
                  }
               }
            }

            .primary-button {
               @include makeButton($padding: 12px 24px, $rounded: 8px, $bg: themed("primary"));
               @include typoGraphy($fontSize: 15px, $weight: 700, $color: #fff);
               width: fit-content;
               margin-left: auto;
               box-shadow: themed("shadow");

               &:hover {
                  background-color: darken(themed("primary"), 10%);
               }

               @include tabletVersion {
                  font-size: 14px;
               }

               @include mobileVersion {
                  font-size: 13px;
                  padding: 10px 20px;
               }
            }
         }
      }
   }
}