@import "../../style.scss";

.users {
   @include themify($themes) {
      @include pages(30px 20px 30px 30px);

      @include tabletVersion {
         padding: 30px 20px 20px 20px;
      }

      @include mobileVersion {
         padding: 30px 20px 60px 20px;
      }

      .usersContainer {
         .usersSearchBar {
            width: 100%;
            margin-top: 30px;
            @include flexStyle($align: center, $gap: 16px);
            @include makeButton($bg: themed("searchBg"), $padding: 10px 18px, $rounded: 8px);
            cursor: auto;

            @include mobileVersion {
               padding: 8px 16px;
            }

            input {
               width: 100%;
               @include input($bg: transparent);
               @include typoGraphy($weight: 500, $fontSize: 15px, $color: themed("font"));

               @include mobileVersion {
                  font-size: 14px;
               }
            }

            .icons {
               width: 22px;
               color: #757575;
               cursor: auto;

               @include mobileVersion {
                  width: 20px;
               }
            }
         }

         .usersContent {
            margin-top: 30px;
            flex-wrap: wrap;
            @include flexStyle($gap: 3.1%);

            @include tabletVersion {
               justify-content: space-between;
            }

            .user {
               @include flexStyle($gap: 15px, $direction: column);
               @include makeButton($padding: 16px, $bg: themed("contentBg"), $rounded: 8px, $color: themed("font"));
               width: 268px;
               transition: 0.3s;
               margin-bottom: 3.1%;
               border: 2px solid themed("contentBorder");

               &:hover {
                  border: 2px solid themed("primary");
               }

               @include tabletVersion {
                  width: 286.4px;
               }

               @include mobileVersion {
                  width: 100%;
               }

               .userScore {
                  @include typoGraphy($weight: bold, $fontSize: 20px, $color: themed("primary"));
                  margin-left: auto;

                  @include mobileVersion {
                     font-size: 16px;
                  }
               }

               .userData {
                  @include flexStyle($gap: 15px, $align: center);

                  img {
                     @include profilePicture(50px, $rounded: 8px);

                     @include mobileVersion {
                        @include profilePicture(46px, $rounded: 8px);
                     }
                  }

                  .usersDetails {
                     @include flexStyle($direction: column);
                     width: 100%;

                     @include mobileVersion {
                        width: 100%;
                     }

                     span {
                        &:first-child {
                           font-weight: 600;
                           @include truncate();

                           @include mobileVersion {
                              font-size: 14px;
                           }
                        }

                        &:last-child {
                           @include typoGraphy($fontSize: 13px, $color: rgb(117, 117, 117), $weight: 600);
                           @include truncate();

                           @include mobileVersion {
                              font-size: 11px;
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }
}